{% extends "base.html" %}



{% block content %}


    <form action="/newpost" method='post'>
            <p><label for="name">Title:</label>
                <input type="text" name="name" />
                <span class="error">{{name_error}}</span>
            </p>
            <label for="entry">Blog Post:</label>
                <p><textarea rows="10" cols="70" name='entry'></textarea>
                    <span class="error">{{entry_error}}</span>
            </p>
        <input type="submit" value='Add Blog' />
        
    </form>

{% endblock %}
